{% extends "alerts/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}alerts/stylesheets/dashboard.css" />
{% endblock %}

{% block left %}
{% if succ >= 0 %}
<div class="alert">Message delivered: {{ succ }} successes, {{ fail }} failures</div>
{% endif %}
<div class="module">
<h2>Alerts</h2>
{{ attempts_table.as_html }}
</div>
{% endblock %}

{% block right %}
<div class="module">
<h2>{% if alert %}
Send "{{ alert }}..."
{% endif %}
</h2>

<form action="" method="post">
{% render_form send_form %}
{% csrf_token %}

<div class="submit">
{% if alert %}
<input type="submit" name="submit" value="Send" />
{% endif %}
</div>
</form>
</div>
{% endblock %}

